*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(20, 25, 34);
  color: white;
}

.menu-nero{
  color: grey;
}

ul li{
  list-style: none;
  display: inline-block;
}


