/* MENU-NERO */

.menu-nero{
  height: calc(100vh - 70px);
  width: 200px;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

.icon{
  padding-left: 10px;
  line-height: 30px;
  border-left: 2px solid black;
}

.icon img{
  width: 25px;
  vertical-align: middle;
}

.icon:hover{
  border-left: 2px solid lime;
  color: white;
}

/* logo */
.menu-nero .box-logo .logo-big{
  width: 75%;
  padding-left: 10px;
}
.menu-nero .box-logo .logo-small{
  width: 40px;
  padding-left: 10px;
  display: none;
}

/* home */
.home{
  margin-bottom: 15px;
}

/* playlist */
.playlist{
  height: 150px;
  padding-left: 10px;
}

.nav-overflow ul li{
  padding-bottom: 7px;
  list-style: none;
  margin: 0;
}

.playlist h3{
  color:white;
  margin-bottom: 10px;
}

.playlist p{
  margin-bottom: 7px;
}

.playlist span{
  line-height: 40px;
}

.playlist .fa-solid.fa-square-plus{
  font-size: 40px;
}
.playlist p:hover,
.playlist span:hover,
.playlist li:hover a{
  color: white;
}

.nav-overflow{
  height: 100px;
  overflow: auto;
}

/* utente */
.linea{
  width: 90%;
  margin: 10px auto;
  background-color: grey;
  border: 1px solid grey;
}
.icon.grey{
  filter: grayscale(1);
}
.utente .fa-solid.fa-circle-user{
  font-size: 25px;
}
.utente .name{
  font-size: 15px;
  color: white;
  font-style: bold;
}

/* PARTE CENTRALE*/

.container{
  width: calc(100% - 200px);
  height: calc(100vh - 70px);
  overflow: auto;
  padding: 10px;
}

/* upgrade fixed */
.upgrade{
  position: fixed;
  width: calc(100vw - 200px);
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: end;
  align-items: center;
}

.upgrade .btn-upgrade a{
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid grey;
  color: grey;
  margin-right: 30px;
  border-radius: 30px;
}

.upgrade .btn-upgrade:hover a{
  border: 2px solid white;
  color: white;
}

/* menu orizzontale */
.menu-orizzontale{
  justify-content: center;
  padding: 80px 0 30px 0;
}

.menu-orizzontale ul li a{
  text-transform: uppercase;
  padding: 0 10px;
}

.active{
  width: 30%;
  height: 1px;
  margin:7px auto;
  color: lime;
  border: 2px solid lime ;
  border-radius: 2px;
}

/* sezione immagini */
.tit-sezioni{
  width: 100%;
  padding-bottom:20px 10px;
}

.tit-sezioni h1{
  padding-bottom: 10px;
}

.cover{
  width: calc(100%/6);
  min-width: 130px;
  min-height: 100px;
  max-width: 300px;
  text-align: center;
  padding: 10px;
  margin:5px;
}

.cover h3{
  padding: 3px;
}

.cover p{
  color: grey;

}

.box-img{
  width: calc(100vw/6 - 40px);
  height: calc(100vw/6 - 40px);
  margin: 5px;
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
  position: relative;
}

.hover-img{
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.hover-img .fa-regular.fa-circle-play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.box-img:hover .hover-img{
  display: block;
}

.box-img.rotonda img{
  border-radius: 50%;
}

.box-img.rotonda:hover .hover-img{
  display: block;
  border-radius: 50%;
}

/* PLAYER */

.player{
  justify-content: space-between;
  background-color: rgb(40, 40, 40);
}

/* player-sx */
.player-sx{
  align-items: center;
}

.img-player{
  width: 40px;
  height: 40px;
  margin:0 7px;
}

.pl-title{
  margin-right: 10px;
  
}

.like,.salva{
  font-size: 15px;
  padding: 5px;
  color: rgb(124, 124, 124);
}
.pl-hv:hover{
  color: white;
}
.nome-brano:hover{
  text-decoration: underline;
}

/* player centrale */

.player-centre{
  width: 40%;
}
.comandi-player{
  height: 50%;
  font-size: 18px;
  margin: 5px 0;
  justify-content: center;
  align-items:center ;
}
.comandi-player span{
  margin: 0 10px;
}
.comandi-player .play{
  font-size: 27px;
}
.comandi-player .play:hover{
  font-size: 30px;
}

.barra-ripr{
  justify-content: space-between;
  font-size: 10px;
}
.barra-ripr .barra{
  width: 80%;
  height: 5px;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 10px;
}

/* player-dx */
.player-dx{
  width: 200px;
  font-size: 15px;
  color: rgb(124, 124, 124);
  align-items: center;
}

.icone-vol span{
  margin: 0 5px;
}

.barra-vol{
  width: 40%;
  height: 5px;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 10px;
}

.icone-vol span:hover{
  color: white;
}

 
/* MEDIA */

/* media tablet coricato */
@media screen and (max-width: 800px){
  .cover{
    width: calc(100%/4);
  }
  .box-img{
    width: calc(100vw/4 - 60px);
    height: calc(100vw/4 - 60px);
  }
    
}

/* media tablet */
@media screen and (max-width: 600px){
  .cover{
    width: calc(100%/3);
  }
  .box-img{
    width: calc(100vw/3 - 70px);
    height: calc(100vw/3 - 70px);
  }
    
}

/* media cellulare */
@media screen and (max-width: 419px){
  .menu-nero{
    width: 50px;
  }

  .menu-nero .box-logo .logo-small{
    display: block;
  }

  .menu-nero span,
  .menu-nero .playlist,
  .menu-nero .linea,
  .menu-nero .logo-big{
    display: none;
  }

  .utente .fa-solid.fa-circle-arrow-down{
    margin-left: 6px;
  }

  .container{
    width: calc(100% - 50px);
    height: calc(100vh - 70px);
    overflow: auto;
  }
  .upgrade{
    width: calc(100vw - 50px);
  }

  .cover{
    width: calc(100%/2 -50px);
  }
  .box-img{
    width: calc(100vw/2 - 80px);
    height: calc(100vw/2 - 80px);
  }

  .player-sx .pl-title{
    margin-right: 3px;
  }

  .player-centre{
    width: 30%;
  }
  .comandi-player{
    font-size: 15px;
    margin: 5px 0;
  }
  .comandi-player span{
    margin: 0 5px;
  }
  .comandi-player .play{
    font-size: 25px;
  }

}